body {
  background: url('../assets/images/leather-texture.jpg') #766F69;
  color: #87878c;
}

a {
  color: rgb(190, 25, 30);
}

a:hover {
  color: rgb(190, 25, 30);
}

h1, h2, h3, h4, h5, h6 {
  color: #ccc;
}

.uk-nav-side>li>a {
  color: #aaa;
}

.uk-nav-side>li>a:hover {
  color: #fff;
  text-shadow: none;
}

hr {
  border-color: #aaa;
}
